<div class="hub-metric-container">
    <div class="hub-metric-rank"><span class="hub-metric-rank-value"></span></div>
    <div class="hub-metric-details">
        <div class="hub-metric-label">{{ getLabel }}</div>
        <div class="hub-metric-bar-container" data-hub-metric-value="{{ getValue }}">
            <div class="hub-metric-bar"></div>
        </div>
    </div>
</div>